@font-face {
  font-family: "SourceSansPro";
  src: url("https://global-cdn.shipper.id/fonts/SourceSansPro/SourceSansPro-Black.woff2");
  font-weight: 900;
  font-style: "normal";
}

@font-face {
  font-family: "SourceSansPro";
  src: url("https://global-cdn.shipper.id/fonts/SourceSansPro/SourceSansPro-Bold.woff2");
  font-weight: 700;
  font-style: "normal";
}

@font-face {
  font-family: "SourceSansPro";
  src: url("https://global-cdn.shipper.id/fonts/SourceSansPro/SourceSansPro-Regular.woff2");
  font-weight: 400;
  font-style: "normal";
}

@font-face {
  font-family: "SourceSansPro";
  src: 'url("https://global-cdn.shipper.id/fonts/SourceSansPro/SourceSansPro-SemiBold.woff2")';
  font-weight: 600;
  font-style: "normal";
}
